<div class="container mt-5">
  <h1 class="text-white">Job Posts</h1>
  {{#each posts}}
  <div class="card my-3 border-light">
    <div class="card-body">
      <h2 class="card-title">{{this.dataValues.job_title}}</h2>
      <h3 class="card-title">${{this.dataValues.salary}} per year</h3>
      <h6 class="card-subtitle mb-2 text-muted">{{this.dataValues.employer_id}} | {{this.dataValues.description}} | {{this.dataValues.location}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{this.dataValues.requirements}} | {{this.dataValues.location}}</h6>
    </div>
  </div> 
  {{/each}}
</div>