<div class="card text-center">
      {{#each posts}}
  <div class="card-header">
    {{posts.employer_id}} | {{posts.location}}
  </div>
    <div class="card-body">
      <h5 class="card-title">{{posts.job_title}} | {{posts.salary}}</h5>
      <p class="card-text">{{posts.requirements}} | {{posts.description}}</p>
      <a href="#" class="btn btn-primary">Apply</a>
    </div>
      {{/each}}
</div>